# Copy this file to .env (or export env vars) before running.
APOLLO_BAZEL_DIST_DIR=REPLACE_ME
APOLLO_BIN_PREFIX=REPLACE_ME
APOLLO_CACHE_DIR=REPLACE_ME
APOLLO_ENV=REPLACE_ME
APOLLO_IN_DOCKER=REPLACE_ME
APOLLO_ROOT_DIR=REPLACE_ME
APOLLO_VERSION=REPLACE_ME
ARCH=REPLACE_ME
AVAILABLE_COMMANDS=REPLACE_ME
BLUE=REPLACE_ME
BOLD=REPLACE_ME
DIR=REPLACE_ME
FILE_NAME=REPLACE_ME
GPU_PLATFORM=REPLACE_ME
GREEN=REPLACE_ME
MOUNT_RES=REPLACE_ME
NO_COLOR=REPLACE_ME
NTPDATE_CMD=REPLACE_ME
RED=REPLACE_ME
REGION=REPLACE_ME
STAGE=REPLACE_ME
SUPPORTED_ARCHS=REPLACE_ME
TAB=REPLACE_ME
TOP_DIR=REPLACE_ME
USE_ESD_CAN=REPLACE_ME
